.idea
.DS_Store
*.pth
*.log
*.temp
*.pyc
*.py.un~
.idea*
.idea/*
\.idea*
.vscode*
.vscode/*
\.vscode*
do_not_upload_to_github/*
do_not_upload_to_github*
*.sh
Debug*.py
/data/GED/*
/data/GED*
./data/GED/*
./data/GED*
